.item {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.item_details {
  min-width: 100px;
}
.item h3 {
  font-size: 16px;
}

.item img {
  border-radius: 5px;
}
.item p {
  color: #979797;
  font-weight: 600;
}

.actions {
  display: flex;
  background-color: #f1f1f1;
  padding: 6px;
}

.actions span {
  font-weight: 600;
}

.actions button {
  background-color: #f1f1f1;
  border: none;
  padding: 0.15rem 1rem;
  color: #979797;
  cursor: pointer;
}

.actions button:hover,
.actions button:active {
  color: #d87d46;
}

@media (max-width: 712px) {
  .item_details {
    min-width: 70px;
  }
  .item h3 {
    font-size: 14px;
  }
  .item p {
    font-size: 14px;
  }

  .item img {
    width: 64px;
    height: 64px;
  }

  
}
