.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart_empty {
  text-align: center;
}

.header h2 {
  text-transform: uppercase;

}
.items {
  list-style: none;
  margin: 1rem 0;
}
.total {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.total p {
  text-transform: uppercase;
  font-weight: 600;
  color: #979797;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header button {
  border: none;
  border-bottom: 0.1px solid #e7e4e4;
  background-color: #fff;
  font-size: 1rem;
  color: #979797;
}
.header button:hover {
  color: #d87d4a;
  border-color: #d87d4a;
  cursor: pointer;
}



@media (max-width:1024px) {
 

}

@media (max-width:712px) {
 
 
 
  
  
 
}
