.checkoutBox {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 100%;
  padding: 32px;
}

.control input[type="number"]::-webkit-outer-spin-button,
.control input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.control input[type="number"] {
  appearance: textfield;
}

.checkoutBox h1 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14px;
  padding: 16px 0;
}
.checkoutBox h4 {
  color: #d87d4a;
  text-transform: uppercase;
  padding: 16px 0;
}

.control {
  margin-bottom: 0.5rem;
  width: 48%;
  max-width: 309px;
}

.control label {
  display: block;
  font-weight: bold;
}

.control input {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
  height: 48px;
}
.control input:focus {
  outline: none;
  border: 1px solid #d87d4a;
}

.inputGrp {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 16px 0;
}
.address label {
  display: block;
  font-weight: bold;
}
.address input {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
  height: 48px;
}
.address input:focus {
  outline: none;
  border: 1px solid #d87d4a;
}
.radioGrp {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 16px 0;
}

.radio {
  width: 50%;
  max-width: 309px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
  height: 3rem;
  justify-content: center;
  margin: 8px 0;
}

.radio:hover,
.radio:active {
  border: 1px solid #d87d4a;
}
.radio input {
  margin-left: 1rem;
  accent-color: #d87d4a;
}

.radio label {
  font: inherit;
  width: 100%;
  margin-left: 1rem;
}

@media (max-width: 1200px) {
  .checkoutBox {
    padding: 16px;
  }
}
@media (max-width: 712px) {
  .checkoutBox {
    width: 327px;
    margin-left: 0;
  }
  .control {
    width: 100%;
  }
  .control input {
    width: 100%;
  }
  .inputGrp {
    display: flex;
    flex-flow: column nowrap;
  }

  .address {
    width: 100%;
  }
  .radio {
    width: 100%;
  }
}
