.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}
.item_image {
  border-radius: 5px;
}
.details {
  min-width: 100px;
}
.qty {
  color: #ccc;
  font-weight: 900;
}

@media (max-width: 1200px) {
  .container {
    max-width: 698px;
    justify-content: flex-start;
  }
  .details {
    margin: 1rem;
  }
  .qty {
    margin-left: auto;
  }
}

@media (max-width: 712px) {
  .container {
    justify-content: center;
  }
}
