.wrapper {
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  gap: 120px;
  width: 1110px;
  height: 588px;
  margin-top: 168px;
}
.img {

  width: 555px;
  height: 588px;
  background-image: url("/images/image-best-gear.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.content {
  width: 555px;
  margin-top: 150px;
}

.content h1 {
  font-size: 40px;
  letter-spacing: 1.5px;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.content p {
  font-size: 13px;
  line-height: 25px;
  text-transform: uppercase;
  color: #969292;
}
.content span {
  color: #d87d4a;
}

@media (max-width: 1024px) {
    .box {
        width: 689px;
        height: 633px;
        display: flex;
        flex-flow: column nowrap;
        margin-top: 1rem;
    }
    .img {
        background-image: url("/images/image-best-gear-tablet.jpg");
        height: 320px;
        width: 100%;
        order:1;
    }
    .content {
        margin: 0;
        order: 2;
        padding-left: 6rem;
        padding-right: 6rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .content h1 {
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 1.25px; 
    }
    .content p {
        font-size: 10px;
    }
}

@media (max-width:712px) {
  .box {
    width: 327px;
    height: fit-content;
    justify-content: flex-end;
    align-items: flex-end;
}
.img {
  background-image: url("/images/image-best-gear-mobile.jpg");
  background-size: cover;
  height: 360px;
  width: 100%;
  order:1;
  margin-top: 0;
 
}
.content {

  padding-left: 0;
  padding-right: 0;
  text-align: center;
  height: 300px;
 
}
}
