.list {
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
}
.list_item {
    display: flex;
}
.list_item p {
 
    font-size: 15px;
    line-height: 25px;
    margin: 10px;
}
.list_item p:nth-child(1) {
    color: #d87D4a;
    font-weight: 900;
}

@media (max-width:712px) {
    .list_item p {
        margin: 0;
        
    }
    .list_item p:nth-child(1) {
        margin-right: 16px;
    }
}
