.categoryContainer {
    width: 100%;
    height: 200px;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoryContainer h1 {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1.5px;
    line-height: 44px;

}

@media (max-width:712px) {
    .categoryContainer h1 {
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 1.25px;
    }
}