.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1110px;
  margin: 156px auto;
}
.menu_item {
  background-color: #f1f1f1;
  width: 30%;
  max-width: 350px;
  min-height: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.item_title {
  text-transform: uppercase;
  font-size: 1rem;
}

.item_image {
  margin-top: -100px;
}

@media (max-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    margin: 96px auto;
  }
  .menu_item {
    margin: 8px;
    min-height: 165px;
  }

  .item_title {
    text-transform: uppercase;
    font-size: 1rem;
  }

  .item_image {
    margin-top: -100px;
  }
}

@media (max-width: 712px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
  }
  .menu_item {
    width: 90%;
    max-width: 327px;
    margin: 50px 0;
  }
}
