.wrapper {
    display: flex;
    justify-content: center;
}
.gallery {
    width: 1110px;
    height: 592px;
    display: grid;
    gap:25px;
    margin-top: 165px;
   
}
.firstGalleryCol{
    grid-column: 1;
}
.firstGalleryCol img:nth-child(1) {
    margin-bottom: 25px;
}
.firstGalleryCol img{
    border-radius: 5px;
}
.secondGalleryCol {
    grid-column: 2;
    height: 592px;
}
.secondGalleryCol img {
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .wrapper {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
    }
    .gallery {
        display: flex;
        width: 698px;
        height: 368px;
        margin: 0;
        justify-content: center;
    }
    .firstGalleryCol {
        width: 275px;
    }
    .firstGalleryCol img {
        width: 275px;
        height: 175px;
        margin: 0;
    }
    .firstGalleryCol img:nth-child(1) {
        margin-bottom: 1.2rem;
    }
    .secondGalleryCol {
        
        width: 400px;
    }
    .secondGalleryCol img {
        width: 400px;
        height: fit-content;
        margin: 0;
    }
}

@media (max-width: 712px) {
    .gallery {
        width: 327px;
        height: 756px;
        flex-flow: column nowrap;
    }
    .firstGalleryCol {
        width: 100%;
    }
    .firstGalleryCol img {
        width: 100%;
    }
    .firstGalleryCol img:nth-child(2) {
        margin-bottom: 1.2rem;
    }
    .secondGalleryCol img {
        width: 327px;
        height: fit-content;
        margin: 0;
    }
}