.container {
  width: 100%;
  max-width: 1110px;
}

.title {
  margin: 165px 0 48px;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  font-weight: 900;
}
.content {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item img {
  border-radius: 10px;
}
.item:nth-child(2) {
  margin: 0 32px;
}
.item h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.3px;
  margin-top: 32px;
}
.content button {
  margin: 16px 0;
  width: 100%;
  max-width: 160px;
}
.mobile {
  display: none;
}
.tablet {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 689px;
  }

  .title {
    margin-top: 48px;
  }
  .item img {
    max-width: 223px;
  }
  .item:nth-child(2) {
    margin: 0 10px;
  }
}

@media (max-width: 712px) {
  .container {
    max-width: 327px;
  }
  .title {
    margin-bottom: 0;
  }
  .content {
    flex-direction: column;
  }
  .item {
    margin-top: 32px;
  }
  .item img {
    max-width: 327px;
  }
}
