.blackBtn {
    margin-top: 40px;
    width: 160px;
    height: 50px;
    color: #fff;
    background-color: #000000;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
   

}
.blackBtn:hover{
    background-color: #807f7e
}

@media screen and (max-width: 768px) {
    .blackBtn {
        height: 40px;
        padding: 10px;
        width: 130px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
}