.container {
  width: 100%;
  max-width: 1110px;
  margin: 160px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.container:nth-child(even) {
  flex-direction: row-reverse;
}
.image_container {
  width: 50%;
  height: 560px;
  position: relative;
}
.content {
  width: 50%;
  max-width: 445px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new {
  color: #d87d4a;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 14px;
}

.content h1 {
  color: #000;
  font-size: 54px;
  letter-spacing: 0.5px;
  line-height: 58px;
  text-transform: uppercase;
}
.description {
  margin-top: 50px;
  color: #979797;
  font-size: 15px;
  line-height: 25px;
}

.content button {
  max-width: 160px;
  margin-top: 48px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 689px;
    margin-top: 80px;
    flex-direction: column;
  }
  .container:nth-child(even) {
    flex-direction: column;
  }
  .image_container {
    width: 100%;
    height: 352px;
  }
  .content {
    width: 100%;
    max-width: none;
  }
  .new {
    text-align: center;
  }
  .content h1 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.5px;
    text-align: center;
    width: 50%;
    margin: auto;
  }
  .content p {
    text-align: center;
  }
  .content button {
    margin: 48px auto 0 auto;
  }
}
@media (max-width: 712px) {
  .container {
    max-width: 327px;
    margin-top: 40px;
  }

  .content h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.25px;
    margin-top: 3rem;
    width: 100%;
  }
  .content p {
    margin-top: 3rem;
  }
}
