.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.image_container {
  position: relative;
  width: 50%;
  max-width: 540px;
  height: 560px;
}
.content {
  width: 40%;
  max-width: 445.5px;

}
.content h1 {
  font-size: 56px;
  letter-spacing: 2px;
  line-height: 58px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.price {
  font-size: 25px;
  letter-spacing: 1px;
  font-style: bold;
  font-weight: 900;
  margin-top: 50px;
}
.actions {
  display: flex;
  margin-top: 2rem;
 
  
}
.actions button {
  max-width: 160px;
 
}


.itemCounter {
  display: flex;
  width: 8rem;
  justify-content: center;
  background-color: #f1f1f1;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
  font-weight: 600;
  margin-right: 32px;
}

.itemCounter button {
  background-color: #f1f1f1;
  height: 20px;
  border: none;
  padding: 5px 15px;
  color: #979797;
}
.itemCounter span {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.itemCounter button:hover,
.itemCounter button:active {
  color: #d87d46;
}

.itemCounter {
  align-items: center;
}
.itemCounter button:hover {
  cursor: pointer;
}




@media (max-width: 1200px) {
  .container {
    max-width: 689px;
   
  }
  .image_container {
    max-width: 281px;
    height: 480px;
  }

  .content {
    width: 50%;
    max-width: 339px;
    display: flex;
    justify-content: flex-end;
    flex-flow: column nowrap;
  }
  .content h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.25px;
    text-align: start;
  }
 
  .price {
    font-size: 20px;
  }
  
}

@media (max-width: 712px) {
  .container {
    max-width: 327px;
    flex-direction: column;
  }
  .image_container {
    width: 100%;
    max-width: none;
    height: 327px;
  }
   
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 48px;
  }
 
  .actions {
    width: 100%;
  }
 
  
}
