.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.box {
  width: 1110px;
  display: flex;
  justify-content: center;
  margin-top: 165px;
}
.features {
  width: 620px;
  margin-right: 100px;
}
.features h1 {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
}
.includes {
  width: 550px;
}
.features p {
  font-size: 15px;
}
.includes h1 {
  text-transform: uppercase;
  font-weight: 900;
}

@media (max-width: 768px) {
  .box {
    width: 689px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
  }
  .features{
    width: 100%;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .features h1 {
    font-size: 25px;
  }
  .features p {
    font-size: 13px;
 
  }
  .includes {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

  }
  .includes h1 {
    font-size: 25px;
    padding-top: 1rem;
   
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:512px) {
  .box {
    width: 327px;
  }
  .features p {
    font-size: 12px;
 
  }
  .includes {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

  }
}

