.container {
  width: 100%;
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.container a {
  margin: 80px 0;
}
.container a:hover {
  color: #d87d4A;
}
.item_details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 165px;
}
.item_details h1 {
  text-transform: uppercase;
  font-weight: 900;
}
.features {
  width: 60%;
  max-width: 620px;
}

.includes {
  width: 30%;
  max-width: 550px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 689px;
   
  }
  .container a {
    margin: 40px 0;
  }
  .item_details {
    flex-direction: column;
    margin-top: 48px;
  }
  .features {
    width: 100%;
    max-width: none;
   
  }
  .item_details h1 {
    font-size: 25px;
  }
 
  .includes {
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    
  }
  
}
@media (max-width: 712px) {
  .container {
    max-width: 327px;
  }
  .includes {
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }
  .features p {
    margin-top: 48px;
  }
}
