.container {
  width: 100%;
  max-width: 1110px;
  height: 320px;
  margin: 3rem auto;
  background: url("/images/image-speaker-zx7.jpg") no-repeat 50% 50% / cover;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
}
.content h2 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 1.5px;
  line-height: 44px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 689px;
    height: 320px;
    background-image: url("/images/image-speaker-zx7-tablet.jpg");
  }
  .content {
    margin-left: 3rem;
  }
  .content h2 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.25px;
  }
}
@media (max-width: 712px) {
  .container {
    max-width: 327px;
    height: 320px;
    background: url("/images/image-speaker-zx7-mobile.jpg") no-repeat 50% 50% / cover;
    margin: 24px auto;
  }
  .content {
    margin-left: 1rem;
  }
}
