.container {
  width: 100%;
  max-width: 1110px;
  height: 560px;
  margin: auto;
  border: 1px solid #d87d4a;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url('../../public/images/cicrles-bg.svg') no-repeat 0% 50%/cover, linear-gradient(to right, #d87d4a, #d87d4a);
}



.sectionImage {
 background: url('../../public/images/image-speaker-zx9.png') no-repeat 50% 50%/cover;
 width: 25%;
 height: 60%;
}
.speakerContent {
 
  width: 40%;
  color: #fff;
}
.speakerContent h1 {
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 58px;
  margin-bottom: 30px;
}



@media (max-width: 1024px) {
 
  .container {
    max-width: 689px;
    height: 720px;
    display: flex;
    flex-flow: column nowrap;
  }
  .sectionImage {
    
    width: 25%;
    height: 30%;
   }
 
  .speakerContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


 
 

}
@media (max-width: 712px) {
  .container {
    max-width: 327px;
    height: 600px;
    background-position: 50% 50%;
  }

  .sectionImage {
    
    width: 50%;
    height: 34%;
   }
   .speakerContent {
    width: 90%;
  
  }
   .speakerContent h1 {
    font-size: 36px;
    letter-spacing: 1.29px;
    line-height: 40px;
  }
  .speakerContent p {
    font-size: 15px;
    line-height: 25px;
  
  }

}
