.card {
  width: 100%;
  max-width: 540px;
  margin: auto;
  padding: 32px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@media (max-width:712px) {
  .card {
    max-width: 354px;
    padding: 16px;
  }
}